@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 275 100% 10%;
    --card: 240 60% 98%;
    --card-foreground: 275 100% 10%;
    --popover: 240 60% 98%;
    --popover-foreground: 275 100% 10%;
    --primary: 275 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 20% 90%;
    --secondary-foreground: 275 100% 10%;
    --muted: 240 20% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 85%;
    --input: 240 20% 96%;
    --ring: 51 100% 50%;
    --radius: 0.3rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 275 15% 10%;
    --foreground: 240 67% 94%;
    --card: 275 15% 15%;
    --card-foreground: 240 67% 94%;
    --popover: 275 15% 15%;
    --popover-foreground: 240 67% 94%;
    --primary: 275 80% 70%;
    --primary-foreground: 275 100% 10%;
    --secondary: 275 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 275 10% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 10% 25%;
    --input: 275 10% 20%;
    --ring: 51 100% 50%;
    --sidebar-background: 275 15% 12%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 275 80% 70%;
    --sidebar-primary-foreground: 275 100% 10%;
    --sidebar-accent: 275 10% 20%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 275 10% 25%;
    --sidebar-ring: 51 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
